<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Добавить читателя</title>
</head>
<body>
<h2>Добавить читателя</h2>

<form th:method="post" th:action="@{/people/save}" th:object="${person}">
    <div>
        <label for="name">Введите имя: </label>
        <input th:field="*{name}" id="name"><br>

        <label for="yearOfBirth">Введите год рождения: </label>
        <input th:field="*{yearOfBirth}" id="yearOfBirth"><br>
    </div>

    <p>
        <input type="submit" value="Добавить!">
    </p>
</form>
</body>
</html>